package secrets

const (
	// ClientID is the ID of the client communicating with Todoist
	ClientID string = ""

	// ClientSecret is the secret used when authenticating the todoist-cli with Todoist
	ClientSecret string = ""
)
